$primary-color: #fdbd00;
$dark-gray: #3c4859;
$medium-gray: #767e8a;
$light-gray: #9da3ac;
$search-color: #ced4da;

.wrapper {
  max-width: 600px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
}

.title {
  color: $dark-gray;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

.search-box {
  max-width: 600px;
  margin-top: 3rem;
}

.search-button {
  border-color: $search-color;
}

@media (min-width: 992px) {
  .search-box {
    margin-top: 25px;
  }
}

@media (max-width: 991px) {
  .title {
    display: none;
  }
}