$primary-color: #fdbd00;
$dark-gray: #3c4859;
$medium-gray: #767e8a;
$light-gray: #9da3ac;
$form-width: 333px;

.wrapper {
  width: $form-width;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  text-align: center;
}

.title {
  width: $form-width;
  color: $dark-gray;
  font-size: 35px;
  font-weight: bold;
  margin-top: 30px;
}

form {
  width: $form-width;

  a:hover {
    text-decoration: underline;
  }

  .forgot-link {
    text-align: right;
  }

  .alert-danger {
    font-size: 14px;
  }
}

.login-button {
  background-color: $primary-color;
  color: white;
  margin-top: 25px;
  font-size: 18px;
  font-weight: 600;
}

.separator {
  width: $form-width;
  margin-top: 15px;
  color: $light-gray;
  display: flex;

  div {
    flex: 1;
  }

  .separator-text {
    margin-top: 5px;
  }
}

.create-account {
  width: $form-width;
  color: $dark-gray;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid $light-gray;
  border-radius: 5px;
}

@media (min-width: 992px) {
}

@media (max-width: 991px) {
  .title, .title-separator {
    display: none;
  }

  form {
    margin-top: 3rem;
  }
}