<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="wrapper row">
        <div class="title">
          Log in
        </div>
        <div>
          <hr class="title-separator">
          <form id="form" [formGroup]="loginForm">
            <!-- Email textbox -->
            <div class="form-group">
              <input type="email" formControlName="email" class="form-control" placeholder="FIU email" tabindex="1">
            </div>
            <!-- Password textbox -->
            <div class="form-group">
              <input type="password" formControlName="password" class="form-control" placeholder="Password"
                tabindex="2">
            </div>
            <div class="alert alert-danger p-1" style="text-align: center;" role="alert" *ngIf="errorMessage">
              {{errorMessage}}
            </div>
            <div class="forgot-link">
              <a [routerLink]="['/forgot']" tabindex="3">Forgot account?</a>
            </div>
            <!-- Login button -->
            <button type="submit" (click)="post()" class="btn login-button btn-block" tabindex="4">Log in</button>
          </form>
        </div>
        <div class="separator">
          <div>
            <hr>
          </div>
          <div class="separator-text"> OR </div>
          <div>
            <hr>
          </div>
        </div>
        <div class="create-account">
          New to Studybuddy? <a [routerLink]="['/register']">Create an account.</a>
        </div>
      </div>
    </div>
  </div>
</div>