<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="wrapper row">
        <div class="title">
          Woohoo! 🎉
        </div>
        <div class="subtitle">
          Congratulations! Your email has been successfully verified.<br>
          Click on the button below to get started.
        </div>
        <div>
          <button type="button" class="btn btn-outline-light home-button" [routerLink]="['/home']">Start</button>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>
