$primary-color: #fdbd00;
$dark-gray: #3c4859;
$medium-gray: #767e8a;
$light-gray: #9da3ac;

.wrapper {
  max-width: 600px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
}

.title {
  color: $dark-gray;
  font-size: 22px;
  font-weight: 500;
  margin-top: 15px;
  text-align: center;
}

.option-container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.option-button {
  background: white;
  border: 1px solid $light-gray;
  color: $dark-gray;
  width: 100px;
  margin-right: 5px;
}

.option-icon {
  margin-right: 8px;
}

.card {
  margin-top: 20px;
}

.option-section {
  margin-bottom: 15px;
}

.option-title {
  font-weight: 500;
}

.option-hr {
  margin-top: 10px;
  margin-bottom: 5px;
}

.options {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  color: $dark-gray;
}

.options:hover {
  text-decoration: none;
}

.option-label {
  margin-left: 5px;
  cursor: pointer;
}

hr {
  margin-top: 20px;
  margin-bottom: 0px;
}

.media {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
}

.user-name {
  color: $dark-gray;
  font-weight: 500;
}

.professor-name {
  color: $light-gray;
}

.profile-picture {
  width: 55px;
  height: 55px;
  margin-right: 16px;
  border-radius: 50%;
}

.no-results {
  color: $dark-gray;
  text-align: center;
}

.no-results-title {
  font-size: 18px;

  span {
    font-weight: 500;
  }
}

.frown-icon {
  color: $light-gray;
  margin-top: 30px;
  margin-bottom: 20px;
}

.modal-content {
  border: none;
}

.modal-header {
  border: none;
}

.modal-title {
  color: $dark-gray;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.modal-profile-picture {
  text-align: center;
  margin-bottom: 12px;

  img {
    height: 75px;
  }
}

.modal-name {
  color: $dark-gray;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 24px;
}

.modal-rating {
  display: block; 
  color: $light-gray;
  text-align: center;
  margin-bottom: 24px;
}

.modal-details {
  color: $dark-gray;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
 
.modal-details-title {
  font-weight: 500;
}

.modal-footer {
  border-top: none;
}

.request-button {
  background-color: #fcbe32;
  color: white;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}

@media (min-width: 992px) {
  .title {
    font-size: 20px;
    margin-top: 34px;
  }

  .subtitle {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
}