$primary-color: #fdbd00;
$dark-gray: #3c4859;
$medium-gray: #767e8a;
$light-gray: #9da3ac;

.navbar-custom {
  min-height: 56px;

  .brand-container {
    position: absolute; 
    top: 11px; 
    width: 100%; 
    height: 56px; 
    z-index: -1;
  }

  .navbar-brand {
    font-size: 22px;
    color: #fdbd00;
    font-weight: 600;
    margin-right: 0px;
    padding: 0px;
    z-index: -1;
  }
}

.navbar-collapse {
  padding-top: 12.5px;
}

.nav-link {
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  padding-left: 17px;
}

li:first-child a {
  padding-top: 25px;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: $dark-gray;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: $dark-gray;
}

.logout-button {
  font-weight: 600;
}

.logout-button:hover {
  color: #fcbe32;
}

@media (max-width: 991px) {
  .brand-container {
    left: 0px; 
    text-align: center;
  }

  .brand-mobile {
    display: none;
  }

  .navbar {
    margin-bottom: 3rem;
  }

  .logout-button {
    display: none;
  }
}

@media (min-width: 992px) {
  .brand-container {
    top: 11px; 
    left: 90px; 
  }

  .brand-desktop {
    display: none;
  }
}
