<nav class="navbar navbar-light navbar-custom shadow-sm" *ngIf="showNav()">
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="brand-container brand-mobile">
    <a [routerLink]="['/welcome']" class="navbar-brand"> Studybuddy </a>
  </div>
  <div class="brand-container brand-desktop">
    <a [routerLink]="['/welcome']" class="navbar-brand"> {{ title }} </a>
  </div>
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" (click)="toggleNavbar()" *ngIf="coreService.isAuthenticated">
          Search </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" (click)="toggleNavbar()" *ngIf="!coreService.isAuthenticated">
          Login </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" (click)="toggleNavbar()" *ngIf="!coreService.isAuthenticated">
          Register </a>
      </li>
      <div *ngIf="coreService.isAuthenticated">
        <div class="dropdown-divider"></div>
        <a class="nav-link" (click)="coreService.logout()" routerLink="/login">Log out</a>
      </div>
    </ul>
  </div>
</nav>