<div class="container-fluid">
    <div class="main">
      <div class="col-md-12">
        <div class="logo">
          Studybuddy
        </div>
        <div class="buttons">
          <button type="button" class="btn register-button" [routerLink]="['/register']">Register</button>
          <button type="button" class="btn login-button" [routerLink]="['/login']">Log in</button>
        </div>
      </div>
    </div>
    <div class="learn-more">
      What's Studybuddy?
    </div>
    <div class="who-we-are">
      <div class="col-md-12">
        <div class="content">
          Studybuddy is a community of students looking for peers to study with.<br>
          Search for your classes and see who's looking for a study buddy in them,
          <br>so you can skip the hassle of studying alone and get to studying together.
        </div>
      </div>
    </div>
    <div class="how-to">
      <div class="col-md-12">
        <div class="title">
          How it works
        </div>
      </div>
      <div class="col-md-3">
        <div class="step-image">
          <img height="90%" src="assets/img/search.svg">
        </div>
        <div class="step-title">
          Search
        </div>
        <div class="step-description">
          Select a course
        </div>
      </div>
      <div class="col-md-3">
        <div class="step-image">
          <img height="100%" src="assets/img/browse.svg">
        </div>
        <div class="step-title">
          Browse
        </div>
        <div class="step-description">
          Choose a buddy
        </div>
      </div>
      <div class="col-md-3">
        <div class="step-image">
          <img height="100%" src="assets/img/meet.svg">
        </div>
        <div class="step-title">
          Connect
        </div>
        <div class="step-description">
          Meet effortlessly
        </div>
      </div>
    </div>
    <div class="benefits row">
      <div class="col-md-12">
        <div class="title">
          Benefits
        </div>
        <div class="subtitle-left">
          Teamwork
        </div>
        <div class="content-left">
          Save precious study time by working together on those difficult assignment problems.
        </div>
        <div class="subtitle-right">
          Avoid procrastinating
        </div>
        <div class="content-right">
          Meet with a classmate to motivate each other to stay focused and on time with deadlines.
        </div>
        <div class="subtitle-left">
          Share what you know
        </div>
        <div class="content-left">
          Help each other when someone doesn't get it. Remember, two heads are better than one.
        </div>
      </div>
    </div>
    <div class="register row">
      <div class="col-md-12">
        <div class="wrapper">
          <h3>Find a buddy now!</h3>
          <div class="content">
            Browse Florida International students<br>
            who are studying for your classes.
          </div>
          <button type="button" class="btn register-button" [routerLink]="['/register']">Register for free</button>
        </div>
      </div>
    </div>
    <div class="footer row">
      <div class="col-md-4">
        <h3>Studybuddy</h3>
        <div>
          <a [routerLink]="['/register']">Register</a> <br>
          <a [routerLink]="['/login']">Log in</a> <br>
          Terms<br>
          Help<br><br>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Partners</h3>
        <div>
          <a href="https://www.fiu.edu/" target="_blank">Florida International University</a><br><br>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Follow us</h3>
        <div>
          Facebook<br>
          <a href="https://www.instagram.com/studybuddy.coffee/" target="_blank">Instagram</a><br><br>
        </div>
      </div>
      <div class="col-md-12">
        <div class="copyright row">Studybuddy &copy; 2019</div>
      </div>
    </div>
  </div>