$primary-color: #fdbd00;
$dark-gray: #3c4859;
$medium-gray: #767e8a;
$light-gray: #9da3ac;

.title {
  color: $primary-color;
  font-size: 36px;
  font-weight: 500;
  justify-content: center;
  margin-bottom: 28px;
}

.button-light {
  width: 125px;
  height: 50px;
  font-size: 18px;
  font-weight: 500;
  color: $dark-gray;
  border-color: $dark-gray;
}

.button-heavy {
  width: 125px;
  height: 50px;
  font-size: 18px;
  font-weight: 500;
  background-color: $primary-color;
  color: white;
}

.main {
  height: calc(100vh - 80px);
  padding-top: 30vh;

  .logo {
    color: $primary-color;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 35px;
    font-size: 13vmin;
  }

  .buttons {
    margin-top: 15px;
    justify-content: center;
  }

  .register-button {
    @extend .button-light;
    margin-right: 25px;
  }

  .login-button {
    @extend .button-light;
  }
}

.learn-more {
  @extend .title;
}

.who-we-are {
  margin-bottom: 120px;

  .content {
    max-width: 625px;
    font-size: 18px;
    color: $dark-gray;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
}

.how-to {
  margin-top: 20px;
  margin-bottom: 100px;
  justify-content: center;

  .step-image {
    height: 75px;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
  }

  .step-title {
    color: $dark-gray;
    font-size: 22px;
    font-weight: 500;
    margin-top: 15px;
    justify-content: center;
  }

  .step-description {
    color: $light-gray;
    font-size: 18px;
    margin-bottom: 50px;
    justify-content: center;
  }
}

.benefits {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;

  .subtitle {
    color: $dark-gray;
    font-size: 22px;
    font-weight: 500;
  }

  .subtitle-right {
    @extend .subtitle;
    margin-right: 0;
    margin-left: auto;
    text-align: right;
  }

  .subtitle-left {
    @extend .subtitle;
    text-align: left;
  }

  .content {
    max-width: 500px;
    color: $light-gray;
    font-size: 18px;
    margin-bottom: 50px;
  }

  .content-right {
    @extend .content;
    margin-right: 0;
    margin-left: auto;
    text-align: right;
  }

  .content-left {
    @extend .content;
    text-align: left;
  }

  i {
    color: $medium-gray;
  }
}

.register {
  margin-top: 75px;
  margin-bottom: 100px;

  .wrapper {
    height: 300px;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    border-radius: 10px;
    text-align: center;

    h3 {
      color: $dark-gray;
      font-weight: 500;
      margin-bottom: 30px;
    }

    .content {
      color: $light-gray;
      margin-bottom: 30px;
      font-size: 18px;
    }

    .register-button {
      height: 50px;
      font-size: 18px;
      border-color: $primary-color;
      background-color: $primary-color;
      color: white;
    }
  }
}

.footer {
  background-color: $dark-gray;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;

  .col-md-4 {
    padding-left: 100px;
  }

  h3 {
    color: $primary-color;
  }

  .copyright {
    margin-top: 25px;
    justify-content: center;
  }

  a:link, a:visited, a:active {
    color: white;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 500px) {
  .main {
    height: calc(100vh - 140px);
    padding-top: 26vh;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 29px;
  }

  .who-we-are {
    margin-bottom: 75px;

    .content {
      max-width: 350px;
      justify-content: center;
    }
  }

  .how-to {
    margin-bottom: 50px;
  }

  .register {
    .wrapper {
      max-width: 350px;
    }
  }

  .footer {
    .col-md-4 {
      padding-left: 50px;
    }
  }
}
